
    .navbar{
        display: flex;
        justify-content: space-between;

    }
    .logo{
        font-size:xx-large;
        text-align:left;
        color:black;
        font-family: sans-serif;
    }
    .menu{
        font-size:large;
        display:flex;
        gap:20px;
    }
    .menu a{
        color: black;
    }
    .learn-btn{
        border-radius: 40px;
        background-color:#485C11;
        color:white;
        width: 120px;
        height: 38px;
    }
    .para{
        font-size:xx-large;
        text-align:center;
    }
    .img img{
        display: block;
        margin: 0 auto;
        height:453.1px;
        width:1420px;
        text-align:center;
    }
    .l{
        color:#969696;
    }
    .logos img{
        display: block;
        margin: 0 auto;
        width: 1380px;
    }